.about-bar-pic {
  display: block;
  background-color: rgba(76, 175, 80, 0.1);
  background-size: cover;
  background-size: 100%;
  height: auto;
  border: 1px solid black !important;
  width: 100vw;
}

.about-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  color: rgb(20, 20, 189);
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
  padding: 2rem;
  justify-content: center;
  text-align: center;

  color: black;
  width: 100%;
}

.aabout-element:first-child {
  background-color: #005c46;
}

.about-element {
  padding: 2rem;
  border-radius: 0.5rem;
  height: 50%;
  width: auto;
  justify-content: center;
}

.about-element .blinker-img {
  width: 100%;
  height: 70vh;
  border-radius: 0.5rem;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  object-fit: cover;
}

.nav-img {
  width: auto;
  height: 3rem;
  margin: 0.5rem;
}

.top50-container {
  height: 10vh;
  display: flex;
  flex-direction: row;
  grid-column: span 2;
}

.top50 img {
  max-width: 50%;
  max-height: 300px;
  border-radius: 0.5rem;
}

.top50 img:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 667px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .top50-container {
    height: auto;
    grid-column: auto;
    display: block;
    text-align: center;
  }

  .top50 img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
  }
}
