nav {
  background-color: black;
  justify-content: center;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  border: 2px solid var(--blinker-green);
  cursor: pointer;
}

.nav-container {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.nav-img {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}

nav ul {
  display: flex;
  justify-content: center;
}

.nav-li {
  list-style: none;
}

.nav-li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.nav-li a:not(.active):hover {
  background-color: var(--blinker-green);
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

@media (max-width: 480px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  .nav-li {
    width: 100%;
    text-align: center;
  }

  .nav-li a {
    margin: 0.2rem 0.5rem;
  }
}
